<%= render 'list', user: @user %>


<div>
  <h2>Books</h2>
  <h4>Title</h4>
  <h4>Opinion</h4>
  <% @books.each do |book| %>
  <div>
    <div><%= image_tag book.user.get_profile_image(100,100) %></div>
    <p><%= link_to book.title, book_path(book.id) %></p>
    <p><%= book.body %></p>
  </div>
<% end %>
</div>

